/* HEADER */
.header-options {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 16px 0;

	/* HEADER LOGO */
	& .logo a {
		display: flex;
		justify-content: space-between;

		&>svg {
			width: 36px;
			padding: 0 4px;
			fill: #E60023;
		}

		&>h2 {
			padding: 0 4px;
			color: #E60023;
		}
	}

	/* HEADER INPUT */
	& .search {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 70%;
	border: 2px solid #cdcdcd;
	border-radius: 24px;
	padding: 10px 0;

		& svg {
			width: 16px;
			fill: #767676;
			margin: 0 8px;
		}
		
		& input {
			width: 99%;
			border: none;
			outline: none;
			font-size: 16px;
			overflow: hidden;
			margin: 0 2px;

			&::placeholder {
				color: #cfcdcd;
			}
		}
	}

	/* HEADER SELECT BOARD */
	.boards {
		position: relative;
		width: 15%;

		// СТИЛИЗАЦИЯ КНОПКИ
		& .boards-select-button {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			padding: 10px 14px;
			background: none;
			border: 2px solid #767676;
			border-radius: 24px;
			background: #767676;
			cursor: pointer;
			transition: 0.3s;

			&:hover {
				border: 2px solid #000;
				background: #cfcdcd;
			}

				& .active {
				border: 2px solid #000;
				background: #E60023;
			}

			& p {
				font-size: 14px;
				font-weight: 600;
				color: #fff;
			}

			& svg {
				width: 22px;
				height: 22px;
				fill: #fff;
				transform: rotate(540deg);
				transition: 0.5s;
			}

			& .active svg {
				transform: rotate(0)
			}
			
		}

		// СТИЛИЗАЦИЯ ВСПЛЫВАЮЩЕГО ОКНА 
		.boards-wrapper {
			position: absolute;
			left: 0;
			width: 100%;
			top: 0;
			margin-top: 10px;
			padding: 20px;
			border: 2px solid #767676;
			border-radius: 24px;
			text-align: center;
			transition: 0.3s ease;
			opacity: 0;
			z-index: -1;

			& .active {
				opacity: 1;
				z-index: 1;
				top: 100%;
			}
		}
	}
}














