.cards {
    .modal {
        position: absolute;
        margin: 20px 310px;
        display: none;
        justify-content: center;
        z-index: 10;
        border-radius: 15px;
        background-color: rgb(255, 255, 255);
        text-align: left;
        width: 35%;
        padding: 30px 30px;
        overflow-y: auto;
        @media (max-width: 768px) {
            width: 100%;
        }

        .modal-content {
            position: relative;
            & > label {
                margin-left: 5px;
                & > p {
                    margin: 2px 18px;
                    font-size: 10px;
                    color: #767676;
                }
            }
        }

        .modal-content__cancel {
            padding: 10px 24px;
            background: none;
            border: 2px solid #767676;
            border-radius: 24px;
            background: #767676;
            cursor: pointer;
            transition: 0.3s;
            color: #fff;
            font-size: 14px;
            font-weight: 600;
            margin-top: 10px;
            &:hover {
                background: #cfcdcd;
            }
        }

        .modal-content__send {
            padding: 10px 29.7px;
            background: none;
            border: 2px solid #767676;
            border-radius: 24px;
            background: #767676;
            cursor: pointer;
            transition: 0.3s;
            color: #fff;
            font-size: 14px;
            font-weight: 600;
            margin-top: 10px;
            &:hover {
                background: #cfcdcd;
            }
        }

        .modal-content__p {
            font-size: 10px;
            color: #5e5d5d;
            margin-bottom: 10px;
        }

        .modal-content__text {
            text-align: center;
            font-size: 25px;
        }
    }

    .additionally {
        position: absolute;
        margin: 150px 350px;
        display: none;
        border-radius: 15px;
        background-color: rgb(255, 255, 255);
        text-align: left;
        width: 30%;
        padding: 30px 10px;
        justify-content: center;
        z-index: 10;

        .additionally-content {
            position: relative;
        }

        .additionally-button {
            display: flex;
            border: none;
            font-size: 40px;
            background: #f9f9f9;
            cursor: pointer;
            transition: 0.3s;
            color: rgb(1, 1, 1);
            font-size: 18px;
            font-weight: 600;
            margin-top: 10px;
            &:hover {
                padding: 5px;
                border-radius: 5px;
                background: #e4e2e2;
                width: 95%;
                justify-content: flex-start;
            }
        }
    }
}
